/vendor/
/.env
composer.lock
/.phpunit.result.cache
/.phpunit.cache/
/storage/*.sqlite
/storage/sessions/*
!/storage/sessions/.gitkeep
/storage/logs/*
!/storage/logs/.gitkeep
/storage/cache/*
!/storage/cache/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
